@page
@model SalesManagement.Pages.Admin.TaskListModel
@{
    ViewData["Title"] = "TaskList";
}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Tasks List</h4>
        </div>
    </div>
</div>
<!-- end page title -->
<!-- main content  -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-centered mb-0">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Account No.</th>
                            <th>Balance</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table-user">
                                <img src="~/assets/images/users/avatar-6.jpg" alt="table-user" class="mr-2 rounded-circle" />
                                Risa D. Pearson
                            </td>
                            <td>AC336 508 2157</td>
                            <td>July 24, 1950</td>
                            <td class="table-action text-center">
                                <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-user">
                                <img src="~/assets/images/users/avatar-7.jpg" alt="table-user" class="mr-2 rounded-circle" />
                                Ann C. Thompson
                            </td>
                            <td>SB646 473 2057</td>
                            <td>January 25, 1959</td>
                            <td class="table-action text-center">
                                <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-user">
                                <img src="~/assets/images/users/avatar-8.jpg" alt="table-user" class="mr-2 rounded-circle" />
                                Paul J. Friend
                            </td>
                            <td>DL281 308 0793</td>
                            <td>September 1, 1939</td>
                            <td class="table-action text-center">
                                <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table-user">
                                <img src="~/assets/images/users/avatar-9.jpg" alt="table-user" class="mr-2 rounded-circle" />
                                Sean C. Nguyen
                            </td>
                            <td>CA269 714 6825</td>
                            <td>February 5, 1994</td>
                            <td class="table-action text-center">
                                <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

<!-- end row -->