@page
@model SalesManagement.Pages.Admin.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">

            <h4 class="page-title">Upload Data</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">

                    <div class="col-xl-6 mx-auto">
                        <div class="form-group mt-3 mt-xl-0">
                            <label for="projectname" class="mb-0">Upload Data</label>
                            <p class="text-muted font-14">Upload CSV File.</p>

                            <form enctype="multipart/form-data" method="post">
                                <div class="form-group">
                                    <label class="file">
                                        <input type="file" asp-for="fileUpload.FormFile" multiple aria-label="File browser example" accept="application/csv">
                                        <span class="file-custom"></span>
                                    </label>
                                    <input asp-page-handler="Upload" class="btn btn-primary" type="submit" value="Upload">
                                </div>


                                @{
                                    if (ViewData["SuccessMessage"] != null)
                                    {
                                        <span class="badge badge-success"> @ViewData["SuccessMessage"]</span>
                                    }
                                }
                            </form>

                            @*<form action="~/Admin/Upload" method="post" class="dropzone" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
              data-upload-preview-template="#uploadPreviewTemplate" enctype="multipart/form-data">
            <div class="fallback">
                <input name="file" type="file" asp-for="fileUpload.FormFile" />
            </div>

            <div class="dz-message needsclick">
                <i class="h3 text-muted dripicons-cloud-upload"></i>
                <h4>Drop files here or click to upload.</h4>
            </div>

            <input class="btn mt-3 btn-primary" type="submit" />
        </form>*@
                            <!-- Preview -->
                            <div class="dropzone-previews mt-3" id="file-previews"></div>

                            <!-- file preview template -->
                            <!--<div class="d-none" id="uploadPreviewTemplate">
        <div class="card mt-1 mb-0 shadow-none border">
            <div class="p-2">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img data-dz-thumbnail src="#" class="avatar-sm rounded bg-light" alt="">
                    </div>
                    <div class="col pl-0">
                        <a href="javascript:void(0);" class="text-muted font-weight-bold" data-dz-name></a>
                        <p class="mb-0" data-dz-size></p>
                    </div>
                    <div class="col-auto">-->
                            <!-- Button -->
                            <!--<a href="" class="btn btn-link btn-lg text-muted" data-dz-remove>
                            <i class="dripicons-cross"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
                            <!-- end file preview template -->
                        </div>


                    </div> <!-- end col-->
                </div>
                <!-- end row -->

            </div> <!-- end card-body -->
        </div> <!-- end card-->

        <div class="card">
            <div class="row">
                <div class="col-md-12">
                    <table class="table mb-0">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">UID</th>
                                <th scope="col">Field 1</th>
                                <th scope="col">Field 2</th>
                                <th scope="col">Field 3</th>
                                <th scope="col">Field 4</th>
                                <th scope="col">Field 5</th>
                                <th scope="col">Field 6</th>
                                <th scope="col">Field 7</th>
                                <th scope="col">Field 9</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                                <td>Cell</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<!-- end row-->
<!-- plugin js -->
<script src="~/assets/js/vendor/dropzone.min.js"></script>
<!-- init js -->
<script src="~/assets/js/ui/component.fileupload.js"></script>
